@charset "UTF-8";

/* 画面全体
—----------------------------- */
* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9B519;
  font-size: 14px;
  color: #293037;
}
/* —--------------------------- */


/* ヘッダー
—----------------------------- */
header {
  width: 100%;/*横幅をいっぱいにする*/
  padding: 30px 4% 10px;/*header内側の余白を調整*/
  background-color:#fff ;
  position: fixed;/*絶対位置で場所を指定*/
  top: 0;/*1番上(topから0距離)に固定*/
  display: flex;/*header直下の子要素(h1とnav)をコントロールできる状態*/
  align-items: center;/*子要素の縦方向の位置*/
}

  /*タイトルの文字サイズと余白を調整*/
  h1 {
    margin: 0; padding: 0;
    font-size: 20px;
  }

  /*aタグ（リンク）の見た目を調整*/
  a {
    text-decoration: none;
    color: #4b4b4b;
  }

  /*リストタグ「ul li」の見た目を調整*/
  ul {
    list-style: none;
    margin: 0;
    display: flex; /*各項目を横並び*/
  }

  /*「li」要素の余白と文字サイズを調整*/
  li {
    margin: 0 0 0 15px;
    font-size: 14px;
  }

  /*nav要素の外側の余白を調整*/
  nav {
     margin: 0 0 0 auto; /*左をautoにして右寄せ*/
  }
/* —--------------------------- */

/* メインエリア（ヘッダーに隠れないように）
—----------------------------- */
main {
  margin: 100px 50px; /* 上下100px、左右50pxの空白 */
  background-color:#F9B519; /* 確認時は#fff、#F9B519に戻す */
}
/* —--------------------------- */

/* 中央揃えのコンテナ
—----------------------------- */
.center-container {
  padding:50px 100px;
  background-color:#F9B519; /*確認時は#EA9C1B、#F9B519に戻すこと*/
  text-align: center;
}
/* —--------------------------- */

/* 上部のコンテナ（マイページ以降）
—----------------------------- */
.top-container {
  width: 100%;
  height:150px;

  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
}

.top-container img {
  width: 100px; /* 画像の幅 */
  height: auto; /* 高さを自動調整 */
}
/* —--------------------------- */

/* トップページのアイコン用エリア
—----------------------------- */
.home-icon {
  display: flex;
  justify-content: center;/*横並びの要素を中央揃え */
  max-width: 100px; /* 画像の最大幅 */
  max-height: 100px; /* 画像の最大高さ */
  margin:0 auto 40px;
}

.home-icon img {
  width: 100%; /* 画像を親要素に収める */
  height: auto; /* アスペクト比を維持 */
  margin:0 10px;
}
/* —--------------------------- */

/* 認証関連のコンテナ
—----------------------------- */
.cert-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px; /* 最大幅を600pxに設定 */
  margin: 0 auto; /* 水平方向に中央揃え */
}

.input-field {
  width: 75%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cert-btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #343C43;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cert-btn:hover {
  background-color: #5B676E;
}
/* —--------------------------- */

/* 掲示板
—----------------------------- */
.bbs-container {
  display: flex;
  flex-wrap: wrap; /* 子要素を折り返す */
  justify-content: center; /* .bbs-contentを水平方向に中央揃え */
}

.bbs-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin:0 auto 40px;
  width: 300px;
  height: 150px;
}
  
.bbs-content:hover {
  background-color: #FEC436;
}

	.top-area {
	  background-color: #8D989F; /* 上部エリアの背景色 */
	  border-radius: 10px 10px 0 0; /* 上部の角を丸める */
	  padding: 10px;
	  text-align: right;
	}
	
	.bottom-area {
	  background-color: #fff; /* 下部エリアの背景色 */
	  border-radius: 0 0 10px 10px; /* 下部の角を丸める */
	  padding: 24px;
	  text-align: center;
	  font-weight: bold;
	}
/* —--------------------------- */

/* 本屋大賞通信
—----------------------------- */
.news-content {
  width:80%;
  background-color: #fff;
  padding: 10px;
  margin:20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.news-content:hover {
  background-color: #FEC436;
}
/* —--------------------------- */

/* 並べ替えと検索（掲示板と本棚に使う）
—----------------------------- */
.sortSearch-container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap; /* このコンテンツ内の要素を折り返すように設定 */
  justify-content: right; /* このコンテンツ内の要素を水平方向に右揃え */
}

.sortSearch-container > * {
  margin-left: 10px; /* 左側の要素との間隔 */
}

.sortSearch-container > :last-child {
  margin-left: 0; /* 最後の要素は左側との間隔をなくす */
}

.search-box {
    display: inline-block;
    background-color:#F1F2F3; /* 背景色 */
    color: #5B676E; /* 文字色 */
    border-radius: 10px; /* 角を丸くする */
    padding: 10px 20px; /* 上下の余白、左右の余白 */
    margin: 10px;
    border: none; /* ボーダーをなくす */
    font-size: 14px; /* フォントサイズ */
    outline: none; /* フォーカス時の枠線を消す */
}

.sortSearch-btn{
  display: inline-block;
  background: #5B676E; /* 背景色 */
  color: black; /* 文字色 */
  padding: 10px 20px; /* 上下の余白、左右の余白 */
  margin: 10px;
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 10px; /* 角を丸くする */
}

.sortSearch-btn:hover {
  background-color: #8D989F;
}
/* —--------------------------- */



/* 角丸のテーブル
—----------------------------- */
.rounded-table {
    max-width: 100%; /* 最大幅を100%に設定 */
    width: auto; /* 幅を自動調整 */
    border-collapse: collapse; /* セルのボーダーを結合 */
    border-radius: 10px; /* テーブル全体の角を丸くする */
    overflow: hidden; /* 角丸の部分を隠す */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影の設定 */
    background-color: #fff; /* 背景色を白に設定 */
    margin:0 20px 20px 20px;
}

.rounded-table th,
.rounded-table td {
    padding: 20px; /* セルの余白 */
    border: 1px solid #F9B519; /* セルのボーダーの色を設定 */
    text-align: center; /* テキストを中央揃え */
    width: calc(100% / 3); /* 3列に均等に分割 */
    height: 50%; /* 2行に均等に分割 */
}

/* 最初の行のセルに上部の角を丸める */
.rounded-table th:first-child {
    border-top-left-radius: 10px;
}

.rounded-table th:last-child {
    border-top-right-radius: 10px;
}

/* 最後の行のセルに下部の角を丸める */
.rounded-table td:first-child {
    border-bottom-left-radius: 10px;
}

.rounded-table td:last-child {
    border-bottom-right-radius: 10px;
}
/* —--------------------------- */

/* 今週のランキング
—----------------------------- */
.ranking-content {
  width:500px;
  background-color: #fff;
  padding: 10px 20px;
  margin:20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ranking-content:hover {
  background-color: #FEC436;
}
/* —--------------------------- */

/* 本棚のテーブル
—----------------------------- */
.bookshelf-table {
    max-width: 100%; /* 最大幅を100%に設定 */
    width: auto; /* 幅を自動調整 */
    border-collapse: collapse; /* セルのボーダーを結合 */
    border-radius: 10px; /* テーブル全体の角を丸くする */
    overflow: hidden; /* 角丸の部分を隠す */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影の設定 */
    background-color: #fff; /* 背景色を白に設定 */
    margin:0 20px 20px 20px;
}

.bookshelf-table th {
    padding: 10px; /* セルの余白 */
    border: 1px solid #F9B519; /* セルのボーダーの色を設定 */
    text-align: center; /* テキストを中央揃え */
    width: calc(100% / 3); /* 3列に均等に分割 */
    height: 50%; /* 2行に均等に分割 */
}

.bookshelf-table td {
    padding: 10px; /* セルの余白 */
    border: 1px solid #F9B519; /* セルのボーダーの色を設定 */
    width: calc(100% / 3); /* 3列に均等に分割 */
    height: 50%; /* 2行に均等に分割 */
}

/* 最初の行のセルに上部の角を丸める */
.bookshelf-table th:first-child {
    border-top-left-radius: 10px;
}

.bookshelf-table th:last-child {
    border-top-right-radius: 10px;
}

/* 最後の行のセルに下部の角を丸める */
.bookshelf-table td:first-child {
    border-bottom-left-radius: 10px;
}

.bookshelf-table td:last-child {
    border-bottom-right-radius: 10px;
}
/* —--------------------------- */

/* ボタン
—----------------------------- */
.btn {
  display: inline-block;
  background: #343C43; /* 背景色 */
  color: #fff; /* 文字色 */
  padding: 16px 40px; /* 上下の余白、左右の余白 */
  margin: 10px;
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 30px; /* 角を丸くする */
}

.btn:hover {
  background-color: #5B676E;
}
/* —--------------------------- */

/* ログアウトボタン
—----------------------------- */
.logout-btn {
  display: inline-block;
  background: #B37601; /* 背景色 */
  color: #fff; /* 文字色 */
  padding: 16px 40px; /* 上下の余白、左右の余白 */
  margin: 10px;
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border-radius: 30px; /* 角を丸くする */
}

.logout-btn:hover {
  background-color: #D89301;
}
/* —--------------------------- */